html,
body {
    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    background-color: rgb(230, 230, 230);
}

main {
    flex: 1 0 auto;
}

header {
    flex: 0 0 auto;

    height: 15%;
    text-align: center;

    position: relative;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

footer {
    flex: 0 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 2%;
    padding-left: 2%;

    height: 5%;
    text-align: center;
    border-top: 1px solid black;
}

footer a {
    text-decoration: none;
}

.wrapper-main {
    display: flex;
    justify-content: space-between;
    
}

.type-cat {
    height: 200px;
    width: 100%;
    background-color: rgb(220, 220, 220);
}

.cats {
    height: 200px;
    width: 100%;
    background-color: white;
}

.rating {
    height: 100px;
    width: 100%;
    background-color: rgb(220, 220, 220);
}