html,
body {
    margin: 0;
    padding: 0;

    height: 100%;
    max-width: 1920px;
    min-width: 800px;

    background-color: rgb(230, 230, 230);
}

.wrapper {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

main {
    flex: 1 0 auto;
    width: 80%;
    margin: 0 auto;
}

header {
    flex: 0 0 auto;

    height: 15%;
    text-align: center;

    position: relative;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

footer {
    flex: 0 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 12%;
    padding-left: 12%;

    height: 5%;
    text-align: center;
    border-top: 1px solid black;
}

footer a {
    text-decoration: none;
}

.wrapper-main {
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
}

.type-cat {
    display: flex;
    flex-direction: column;
    
    flex: 0 0 auto;
    margin-bottom: 2%;
    width: 15%;
    background-color: rgb(210, 210, 210);
}

.button-type-cat {
    padding: 1.5ch 2ch 1.5ch 1ch;

    font: 110% Arial, sans-serif;
    color: black;

    overflow: hidden;

    border-bottom: 1px solid rgb(100, 100, 100);
}

.button-type-cat:hover {
    color:white;
    background-color: rgb(160, 160, 160);
}

input[name="cats"] {
    display: none;
}

label[for="not-check"] {
    align-self: stretch;
    flex-grow: 2
}

input#abys:checked ~ .type-cat > label[for="abys"],
input#brit:checked ~ .type-cat > label[for="brit"],
input#rusb:checked ~ .type-cat > label[for="rusb"],
input#siam:checked ~ .type-cat > label[for="siam"] {
    color:white;
    background-color: rgb(100, 100, 100);
}

input#abys:checked ~ .cats > div > img#abys,
input#brit:checked ~ .cats > div > img#brit,
input#rusb:checked ~ .cats > div > img#rusb,
input#siam:checked ~ .cats > div > img#siam {
    opacity: 0.5;
}

.cats {
    display: grid;
    grid-auto-rows: minmax(100px,200px);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1vh;

    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    flex: 1 0 auto;

    height: auto;
    width: 70%;
}

.cats > div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cats > div:nth-child(8n+1){
    grid-column-start: 1;
	grid-column-end: 2;
}
.cats > div:nth-child(8n+2){
    grid-column-start: 2;
	grid-column-end: 4;
}
.cats > div:nth-child(8n+3){
    grid-column-start: 1;
	grid-column-end: 2;
}
.cats > div:nth-child(8n+4){
    grid-column-start: 2;
	grid-column-end: 3;
}
.cats > div:nth-child(8n+5){
    grid-column-start: 3;
	grid-column-end: 4;
}
.cats > div:nth-child(8n+6){
    grid-column-start: 1;
	grid-column-end: 3;
}
.cats > div:nth-child(8n+7){
    grid-column-start: 3;
	grid-column-end: 4;
}
.cats > div:nth-child(8n+8){
    grid-column-start: 1;
	grid-column-end: 4;
}

.tip {
    position: relative;
    overflow: hidden;

    text-align: center;
    display: inline-block;
}

.tip:hover::after {
    content: attr(data-text);

    position: absolute;
    left: 0;
    bottom: 10%;

    z-index: 1;
    padding: 2vh;

    background: rgba(0, 0, 0, 0.5);
    font: 150% Arial, sans-serif;
    color: #fff;
}

.rating {
    flex: 0 0 auto;
    align-self: flex-start;

    display: flex;
    
    flex-wrap: wrap;

    padding: .5% 2% 1% 1%;
    width: 15%;
    background-color: rgb(210, 210, 210);

    overflow: hidden;
}

.rating h2 {
    width: 100%;
    color: rgb(223, 0, 0);
    font: 150% Arial, sans-serif;
    text-transform: uppercase;
    margin: 0;
}

.rating p {
    margin: 1.5ch 1ch .5ch 0;
    font: 110% Arial, sans-serif;
}

.gradient {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    font-weight: bold;
    font-size: 110%;
}

.rating > div {
    width: 100%;
}

.gradient > div {
    align-self: center;
    margin: 2% 5% 2% 2%;
    height: 1.5ch;
    background: burlywood;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.gradient > span {
    display: block;
}

.gradient.good > div{
    width: 80%;
    background: linear-gradient(90deg, rgb(27, 211, 110), rgb(255, 255, 255));
}

.gradient.ok > div{
    width: 60%;
    background: linear-gradient(90deg, rgb(255, 230, 91), rgb(255, 255, 255));
}
.gradient.bad > div{
    width: 30%;
    background: linear-gradient(90deg, rgb(223, 55, 55), rgb(255, 255, 255));
}

input#type-rating:checked ~ div:nth-child(4),
input#type-rating:checked ~ div:nth-child(5),
input#type-rating:checked ~ div:nth-child(6),
input#type-rating:checked ~ div:nth-child(7) {
    order: var(--default);
}