body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

.container {
    display: block;
    position: relative;

    height: 400px;
    width:  100%;
    margin: 200px auto;
}

.gallery {
    display: block;
    position: relative;

    margin: auto;
    width: 80%;
    height: auto;
}

.card {
    display: inline-block;
    position: relative;

    width: 20%;

    text-align: center;

    transition-duration: .1s;
    transform-origin: 50%;
}

img {
    vertical-align: middle;
}

.image {
    position: relative;

    max-width: 100%;
    max-height: 200px;
}

.info {
    display: none;
    font-size: 0.6em;
    text-align: left;
}

.card:hover {
    transform: scale(1.5);
    z-index: 1;
    height: auto;
    background-color: white;
    box-shadow: 0 0 10px lightslategray;
    padding: 10px;
    
}


.card:hover > .info {
    display: inline-block;
    position: relative;
}